$color-main-green: rgb(6, 58, 6);
$color-board-background: lightgray;
$color-tile-hover: rgb(214, 57, 57);

/* Color Theme Swatches in RGBA */
$color-dark-green: rgba(63,89,70, 1);
$color-blue-deep: rgba(126,165,216, 1);
$color-blue-med: rgba(126,174,216, 1);
$color-blue-light: rgba(149,198,216, 1);
$color-pale-green: rgba(207,216,198, 1);

$text-fancy-name: 'Calligraffitti', cursive;







