.nav-header {
    margin-bottom: 0em;
    width: 100%;
    color: rgb(6, 58, 6);
}

.header-brand {
    font-size: 3.5em;
    margin-left: 0.75em;
    padding-top: 0.25em;
    width: 70%;
    font-family: 'Calligraffitti', cursive;
}

.nav-link {
    font-size: 2em;
    margin-left: 15px;
    text-align: right;
    float: right;
    /* min-width: fit-content; */
    color: rgb(6, 58, 6);
}

.header-logo{
    width: 8em;
}